	<!-- START MODAL -->
	<div id="add-album-modal" class="modal fade" tabindex="-1" role="dialog" data-ng-controller="albumEditorCtrl as albumEditorCtrl">
	 	<div class="modal-dialog big-modal" role="document">
		<div class="modal-content">
		  	<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">Add new album</h3>
		  	</div>
		  	<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="add-album-title">Album title</label>
						<input id="add-album-title" type="text" class="form-control" placeholder="Enter album title here" data-ng-model="albumEditorCtrl.title">
						<hr>
					</div>
					<div class="form-group">
						<label for="add-album-artist">Artist</label>
						<input id="add-album-artist" type="text" class="form-control" placeholder="Enter artist here" data-ng-model="albumEditorCtrl.artist">
						<hr>
					</div>

					<div class="row">

						<div class="col-lg-8 col-md-6">
							<div class="form-group">
								<label for="add-album-country">Country</label>
								<input id="add-album-country" type="text" class="form-control" placeholder="Enter country here" data-ng-model="albumEditorCtrl.country">
								<hr>
							</div>
							<div class="form-group">
								<label for="add-album-company">Company</label>
								<input id="add-album-company" type="text" class="form-control" placeholder="Enter company here" data-ng-model="albumEditorCtrl.company">
								<hr>
							</div>
							<div class="form-group">
								<label for="add-album-year">Year</label>
								<input id="add-album-year" type="text" class="form-control" placeholder="Enter year here" data-ng-model="albumEditorCtrl.year">
								<hr>
							</div>
							<div class="form-group">
								<label for="add-album-price">Price</label>
								<input id="add-album-price" type="text" class="form-control" placeholder="Enter price here" data-ng-model="albumEditorCtrl.price">
								<hr>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="album-logo-preview">
								<div class="album-logo-show" data-ng-if="logoUrl != ''" style="background-image: url({{albumEditorCtrl.logoUrl}})"></div>
							</div>
							<div class="form-group">
								<label for="add-album-logo">Album logo (URL)</label>
								<input id="add-album-logo" type="text" class="form-control" placeholder="Enter album logo URL here" data-ng-model="albumEditorCtrl.logoUrl">
								<hr>
							</div>
						</div>

					</div>
				</form>
		  	</div>
		  	<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="albumEditorCtrl.removeValues()">Close</button>
				<button type="button" class="btn btn-primary" ng-click="albumEditorCtrl.addNewAlbum()">Add album</button>
		  	</div>
			</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<div id="edit-album-modal" class="modal fade" tabindex="-1" role="dialog">
	 	<div class="modal-dialog big-modal" role="document">
		<div class="modal-content">
		  	<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">Edit album</h3>
		  	</div>
		  	<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="edit-album-title">Album title</label>
						<input id="edit-album-title" type="text" class="form-control" placeholder="Enter album title here">
						<hr>
					</div>
					<div class="form-group">
						<label for="edit-album-artist">Artist</label>
						<input id="edit-album-artist" type="text" class="form-control" placeholder="Enter artist here">
						<hr>
					</div>

					<div class="row">

						<div class="col-lg-8 col-md-6">
							<div class="form-group">
								<label for="edit-album-country">Country</label>
								<input id="edit-album-country" type="text" class="form-control" placeholder="Enter country here">
								<hr>
							</div>
							<div class="form-group">
								<label for="edit-album-company">Company</label>
								<input id="edit-album-company" type="text" class="form-control" placeholder="Enter company here">
								<hr>
							</div>
							<div class="form-group">
								<label for="edit-album-year">Year</label>
								<input id="edit-album-year" type="text" class="form-control" placeholder="Enter year here">
								<hr>
							</div>
							<div class="form-group">
								<label for="edit-album-price">Price</label>
								<input id="edit-album-price" type="text" class="form-control" placeholder="Enter price here">
								<hr>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="album-logo-preview">
								<div class="album-logo-show" style="background-image: url()"></div>
							</div>
							<div class="form-group">
								<label for="edit-album-logo">Album logo (URL)</label>
								<input id="edit-album-logo" type="text" class="form-control" placeholder="Enter album logo URL here">
								<hr>
							</div>
						</div>

					</div>
				</form>
		  	</div>
		  	<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
		  	</div>
			</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<div id="delete-album-modal" class="modal fade" tabindex="1" role="dialog">
	 	<div class="modal-dialog" role="document">
		<div class="modal-content">
		  	<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">Are You really want to delete this album?</h3>
		  	</div>
		  	<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		  	</div>
			</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<div id="info-album-modal" class="modal fade" tabindex="2" role="dialog">
	 	<div class="modal-dialog big-modal" role="document">
		<div class="modal-content">
		  	<div class="modal-header">
				<button class="btn btn-primary edit-btn open-modal" data-dismiss="modal" data-modal="#edit-album-modal" title="edit album" onclick="openModal(event, this)">
					Edit album &nbsp; <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</button>
				<button class="btn btn-primary delete-btn open-modal" data-dismiss="modal" data-modal="#delete-album-modal" title="delete album" onclick="openModal(event, this)">
					Delete album &nbsp; <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title"> </h3>
		  	</div>
		  	<div class="modal-body">
				<form>
					<div class="row">

						<div class="col-lg-8 col-md-6">
							<div class="form-group">
								<p>Album title</p>
								<h4>Album 1</h4>
							</div>
							<div class="form-group">
								<p>Artist</p>
								<h4> </h4>
							</div>
							<div class="form-group">
								<p>Country</p>
								<h4> </h4>
							</div>
							<div class="form-group">
								<p>Company</p>
								<h4> </h4>
							</div>
							<div class="form-group">
								<p>Year</p>
								<h4> </h4>
							</div>
							<div class="form-group">
								<p>Price</p>
								<h4> </h4>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="album-logo-preview">
								<div class="album-logo-show" style="background-image: url()"></div>
							</div>
						</div>

					</div>
				</form>
		  	</div>
		  	<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  	</div>
			</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<!-- END MODAL -->