<div class="row">

	<div class="col-lg-8 col-md-6">
	<div class="form-group">
		<p>Album title</p>
		<h4>Album 1</h4>
	</div>
	<div class="form-group">
		<p>Artist</p>
		<h4> </h4>
	</div>
	<div class="form-group">
		<p>Country</p>
		<h4> </h4>
	</div>
	<div class="form-group">
		<p>Company</p>
		<h4> </h4>
	</div>
	<div class="form-group">
		<p>Year</p>
		<h4> </h4>
	</div>
	<div class="form-group">
		<p>Price</p>
		<h4> </h4>
	</div>
	</div>

	<div class="col-lg-4 col-md-6">
		<div class="album-logo-preview">
			<div class="album-logo-show" style="background-image: url()"></div>
		</div>
	</div>
	
</div>