/* Animate `ngRepeat` in `albumList` component */
.album.ng-enter,
.album.ng-leave,
.album.ng-move {
  overflow: hidden;
  transition: all 0.5s;
}

.album.ng-enter,
.album.ng-leave.ng-leave-active,
.album.ng-move {
  height: 0;
  opacity: 0;
}

.album.ng-enter.ng-enter-active,
.album.ng-leave,
.album.ng-move.ng-move-active {
  height: 290px;
  opacity: 1;
}

/* Animate view transitions with `ngView` */
.view-container {
  position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.view-frame.ng-enter {
  animation: 1s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  animation: 1s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Older browsers might need vendor-prefixes for keyframes and animation! */
