body {
	position: relative;
	z-index: 1;	
	min-height: 100vh;
	background-color: gray;
	background-image: url(../img/mbg.jpg);
	-webkit-background-size: 150px;
	background-size: 150px;
}

.hidden-box {
	display: none!important;
}

.btn, button, a {
	border: none!important;
	outline: none!important;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
}

header, footer {
	position: absolute;
	z-index: 2;
	left: 0;
	height: 90px;
	width: 100%;
	background-color: gray;
	background-image: url(../img/newbg.jpg);
	-webkit-background-size: 250px;
	background-size: 250px;
	color: #fff;
}
header {
	position: fixed;
	top: 0;
	-webkit-box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.7);
	box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.7);
}
footer {
	bottom: 0;
	-webkit-box-shadow: 0px -3px 40px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px -3px 40px 0px rgba(0,0,0,0.7);
	box-shadow: 0px -3px 40px 0px rgba(0,0,0,0.7);
}
header .btn, header .form-control {
	font-size: 18px;
	height: 38px;
}
header .btn-add {
	margin-top: 25px;
}
header .navbar-form {
	margin-top: 25px;
	margin-left: 25px;
}
header .navbar-form .btn {
	margin-left: 5px;
}
header h1 {
	text-align: right;

}




main {
	padding: 120px 0;
}


.album {
	padding: 10px;
	height: 290px;
}

.album-wrap {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	background-color: #e6eaed;
	background-image: url(../img/default-cover.png);
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #fff;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
}

.album-wrap:hover  {
	-webkit-box-shadow: 0px 0px 45px 0px rgba(51,122,183,0.9);
	-moz-box-shadow: 0px 0px 45px 0px rgba(51,122,183,0.9);
	box-shadow: 0px 0px 45px 0px rgba(51,122,183,0.9);
}

.album-cover {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	border-radius: 5px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.album-cover:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	border-radius: 5px;
	background-color: #000;
	opacity: 0.4;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
}

.album-wrap:hover .album-cover:after  {
	opacity: 0.1;
}

.album-ctrl-btns {
	position: absolute;
	z-index: 4;
	top: -60px;
	right: -140px;
	width: 140px;
	height: 60px;
	padding: 12px;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
}

.album-ctrl-btns .btn {
	width: 40px;
	height: 40px;
	margin-left: 12px;
	float: right;
	background-color: rgba(0,0,0,0.75);
	color: #fff;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
}

.album-ctrl-btns .btn:hover  {
	background-color: rgba(51,122,183,0.9);
}

.album-wrap:hover .album-ctrl-btns  {
	top: 0;
	right: 0;
}

.album-info {
	width: 100%;
	height: 60px;
	position: absolute;
	z-index: 4;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	padding: 0 15px;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
}

.album-info h3, .album-info h4 {
	color: #fff;
}

.album-info h4 {
	margin-top: 15px;
}

.album-wrap:hover .album-info {
	height: 200px;
	background-color: rgba(0,0,0,0.8);
}





.album-wrap.add-album {
	background-image: none;
}

.album-wrap.add-album .album-cover {
	background-size: auto 60%;
	background-repeat: no-repeat;
}

.album-wrap.add-album .album-info {
	height: 0;
	text-align: center;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
}

.album-wrap.add-album:hover .album-info {
	height: 60px;
}

.album-wrap.add-album .album-cover {
	background-size: auto 60%;
	background-repeat: no-repeat;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
}

.album-wrap.add-album:hover .album-cover {
	height: 230px;
}



footer h3 {
	margin-top: 30px;
}









@media (min-width: 992px) {
	.modal-dialog.big-modal {
	    width: 800px;
	}
}

@media (min-width: 1200px) {
	.modal-dialog.big-modal {
	    width: 1000px;
	}
}

.modal-content {
	background-color: gray;
	background-image: url(../img/newbg.jpg);
	-webkit-background-size: 250px;
	background-size: 250px;
	color: #fff;
	border: 1px solid #fff;
}

.modal-header, .modal-body, .modal-footer {
	padding: 15px 25px;
}

.modal-content .close {
	opacity: 1;
	color: #fff;
}

.modal-content .btn {
	height: 38px;
	font-size: 18px;
}

.modal-content label {
	font-size: 16px;
}

.modal-content h4 {
	font-size: 22px;
	padding: 0 0 5px 15px;
}

.album-logo-preview {
	width: 100%;
	height: 270px;
	background-color: #e6eaed;
	background-image: url(../img/default-cover.png);
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #fff;
	border-radius: 5px;
	margin: 18px 0;
	overflow: hidden;
}

.album-logo-show {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}







[ng:\cloak], [ng-cloak], [data-ng-cloak], .ng-cloak {
	display: none;
}